<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="content">
        <a routerLink="../ingreso/registerEspecialista" >
          <div class="content-overlay"></div>
          <img class="content-image"
            src="https://firebasestorage.googleapis.com/v0/b/saladejuegos-b1a8e.appspot.com/o/especialista.jpg?alt=media&token=d3becb62-9e8d-4e70-bf6c-326c2e9d3378">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Registrece como Especialista</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="content ">
        <a routerLink="../ingreso/registerPaciente" >
          <div class="content-overlay"></div>
          <img class="content-image"
            src="https://firebasestorage.googleapis.com/v0/b/saladejuegos-b1a8e.appspot.com/o/paciente.jpg?alt=media&token=4c38397f-e7a6-4e51-97fe-f28a5a1b6d43">
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Registrece como Paciente</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>